.product-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}


.header-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
}

.product-list {
    display: grid;
    row-gap: 100px;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}
