.product-layout {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

.register_header {
    margin-top: 40px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}


.product {
    height: 100%;
    display: inline-block;
    border: ridge;
}

.content {
    min-height: 100%;
}

.single-prod-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

.title-label {
    font-size: 60px;
    margin-bottom: 0px;
}

.seller-label {
    font-size: 20px;
    color: gray;
}

.quantity-label {
    padding-top: 30px;
    color: #B12704;
    font-size: 30px;
}

.product-description-label {
    padding-top: 30px;
    font-size: 35px;
}

.product-description {
    font-size: 20px;
    color: gray;
}

.price-label {
    padding-top: 30px;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

select {
    padding-top: 5px;
    width: 70px;
    margin: 5px;
    padding-bottom: 5px;
}

.item-name-style {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

#buy-button {
    margin-bottom: 3px
}

.btn-primary {
    color: #fff;
    background-color: #ffa90c;
    border-color: #ffa90c;
}

.btn-info {
    color: #fff;
    background-color: #ffa90c;
    border-color: #ffa90c;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: black;
    border-color: black;
}

.bg-light {
    background-color: #1f1f1f !important;
}

.header-label {
    color: white;
}

.label-styling-bold {
    font-size: 50px;
    font-weight: bold;
}

sell-labels {
    font-size: 20px;
}

.form-control {
    width: 50%;
}

.custom-file {
    width: 50%;
}

#sell-button {
    margin-top: 30px;
    width: 10%;
}

#review-label {
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 30px;
}

#username-label {
    font-size: 20px;
    margin-bottom: 0px;
}

#rating-label {
    color: gray;
    font-size: 15px;
}

#star-image {
    width: 17px;
    height: 17px;
}

#review-text {
    padding-top: 10px;
    font-style: italic;
    padding-bottom: 40px;
    font-size: 20px;
}

#add-review-button {
    margin-top: 150px;
    width: 20%;
}

#about-us-styling {
    font-size: 30px;
    font-style: italic;
    color: gray;
}

#text-about-us-styling {
    padding-top: 30px;
    font-weight: bold;
    font-size: 25px;
}


.creator-name {
    font-weight: bold;
}

.creator-email {
    color: gray;
}

.item-containter {
    margin-left: 30px;
}